@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
:root {
  --primary-color: #ff5400;
  --secondary-color: #131318;
  --navlink-color: #424247;
}

* {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

body {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  max-width: 1270px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--navlink-color);
}

header {
  margin-top: 2rem;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1.2rem;
  margin-left: 1.2rem;
}

.brand-brand {
  display: flex;
  align-items: center;
}

.brand-brand img {
  margin-right: 1.2rem;
}

.brand {
  color: var(--secondary-color);
  font-size: 2.4rem;
}

.brand-tour {
  color: var(--primary-color);
}
.nav-bar {
  display: flex;
  align-items: center;
}

.nav-bar ul {
  display: flex;
}

.menu-icon {
  display: none;
}

.nav-bar ul li {
  list-style-type: none;
  font-size: 1.6rem;
  margin-left: 2rem;
  font-weight: 200;
}

.active-nav-li {
  color: var(--primary-color);
  font-weight: 600;
}

/* Hero section */
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 500px;
  background: linear-gradient(to bottom, #131318b7, #13131800),
    url("./Images/hero-banner.png");
  background-size: cover;
  border-radius: 1rem;
}

.hero-info {
  color: #fff;
}

.hero-title {
  font-size: 6.4rem;
  font-weight: 800;
}

.hero-des {
  padding: 2rem 0;
  font-size: 1.6rem;
  max-width: 67.7rem;
  line-height: 3rem;
  letter-spacing: 0.1rem;
  font-weight: 200;
}

.hero-search {
  background-color: #ffffff36;
  padding: 2rem;
  border-radius: 0.5rem;
}

input[type="text"] {
  height: 5.2rem;
}

/* Responsive Design */

@media screen and (max-width: 600px) {
  .nav-bar {
    justify-content: space-around;
  }
  ul {
    display: none;
  }
  .menu-icon {
    display: block;
    font-size: 1rem;
  }
  .li-off {
    display: none;
  }
  .brand {
    color: var(--secondary-color);
    font-size: 1rem;
  }
}
